<div class="menu">
  <div class="container-fluid">
  <div class="navbar-header">
    <a href="#">Rteam</a>
  </div>
  <div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown" *ngIf="User">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{User.name}}</a>				
          <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li (click)="onClickLogout()"><a href="#">Log out</a></li>
                </ul>                
              </li>
    </ul>
  </div>
</div>
</div>
