<script src="https://code.jquery.com/jquery-2.1.0.min.js" ></script>
<div id="fullscreen_bg" class="fullscreen_bg">
<div id="formWrapper">

<div id="form">
  <div class="logo">
    <h1>Rteam</h1>
  </div>
  <form #loginForm = "ngForm" (ngSubmit) = "onSubmit(loginForm)">
    <div ngModelGroup="sign_in">
      <div class="form-item">
        <p class="formLabel">Email</p>
        <input type="email" name="email" id="email" class="form-style" autocomplete="off" ngModel/>
      </div>
      <div class="form-item">
        <p class="formLabel">Password</p>
        <input type="password" name="password" id="password" class="form-style" ngModel/>
        <p><a href="#" ><small>Forgot Password ?</small></a></p>	
      </div>
      <div class="form-item">
        <p class="pull-left"><a href="#"><small>Register</small></a></p>
        <input type="submit" class="login pull-right" value="Log In">
        <div class="clear-fix"></div>
    </div>
  </div>
  </form>
</div>
</div>
</div>