<!-- <!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Vertical Timeline</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100i,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">
    <link rel="stylesheet" href="http://fontawesome.io/assets/font-awesome/css/font-awesome.css">
  <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>

  
</head>

<body>
  <header>
    <div class="container text-center">
      <h1>{{info_group.name}}</h1>
      <a class="dropdown">
          <h4 class="title dropdown-toggle" data-toggle="dropdown">{{member_button.title}}<b class="caret"></b><br /></h4>
          <ul class="dropdown-menu">
                <li *ngIf="is_admin"><a>Manage Group</a></li>
            <br>
            <li><a (click)="action()">{{member_button.action}}</a>
            </li>
          </ul>
        </a>
      <p>Sava Lazic</p>
    </div>
  </header>
  <div class="container">
      <div class="row group-content">
                    <div class="col-md-11">
                        <div class="bs-calltoaction bs-calltoaction-default">
                            <div class="row">
                                <div class="col-md-9 cta-contents">
                                    <h2 class="cta-title">Create new Event</h2> -->
                                    <!-- <div class="cta-desc">
                                        <p>Describe the action here.</p>
                                        <p>Describe the action here.</p>
                                        <p>Describe the action here.</p>
                                    </div> -->
                                <!-- </div>
                                <div class="col-md-3 cta-button">
                                    <a href="#" class="btn btn-lg btn-block btn-primary">Create Event!</a>
                                </div>
                             </div>
                        </div>
                    <div class="widget no-padding blank">
                      <div class="timeline-sec">
                        <ul>
                          <li *ngFor="let event of events">
                            <div class="timeline">
                              <div class="user-timeline">
                                <span><img src="http://www.foreclosure-support.com/images/johnny-depp.jpg" alt=""></span>
                              </div>
                              <div class="timeline-detail">
                                <div class="timeline-head">
                                  <h3>{{event.name}}<span><i class="fa fa-clock-o"></i> created {{event.time_ago}} ago</span><i *ngIf="event.admin" class="red">Admin</i></h3>
                                
                                </div>
                                <div class="timeline-content">
                                  <p>{{event.infor}}</p>

                                  <div data-toggle="buttons" class="btn-group btn-group-sm">
                                    <label class="btn btn-default">
                                      <input type="radio" checked="" name="options"><i class="fa fa-comments"></i> Reply
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name="options"> <i class="fa fa-thumbs-o-up"></i> Like
                                    </label>
                                  </div>
                                  <form class="post-reply ng-pristine ng-valid">
                                    <textarea placeholder="Write your comment"></textarea>
                                      <i class="fa fa-comments"></i>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </li>
                          
                          <li>
                            <div class="timeline">
                              <div class="user-timeline">
                                <span><img src="http://www.foreclosure-support.com/images/johnny-depp.jpg" alt=""></span>
                              </div>
                              <div class="timeline-detail">
                                <div class="timeline-head">
                                  <h3>Haseeb Iftikhar<span><i class="fa fa-clock-o"></i> 2 hours ago</span><i class="purple">Mod</i></h3>
                                  <div class="social-share">
                                    <a title=""><i class="ti-sharethis"></i></a>
                                    <ul class="social-btns">
                                      <li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-facebook"></i></a></li>
                                      <li><a title="Google" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-google"></i></a></li>
                                      <li><a title="Twitter" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-twitter"></i></a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="timeline-content">
                                  <p>at <a href="#" title="">Khana Zidi</a> Jonathan DOe Uploaded 4 new photos.</p>
                                  <div class="timeline-gallery">
                                    <ul>
                                      <li><a title="Gallery Image" class="lightbox" href="javascript:"><i class="fa fa-search-plus"></i><img src="http://www.foreclosure-support.com/images/johnny-depp.jpg" alt=""></a></li> -->
                                      <!-- <li><a title="Gallery Image" class="lightbox" href="javascript:"><i class="fa fa-search-plus"></i><img src="http://images.starpulse.com/pictures/2013/08/08/previews/Matt%20Damon-MTO-009587.jpg" alt=""></a></li> -->
                                      <!-- <li><a title="Gallery Image" class="lightbox" href="javascript:"><i class="fa fa-search-plus"></i><img src="http://images.boomsbeat.com/data/images/full/32034/422817_original-jpg.jpg" alt=""></a></li> -->
                                      <!-- <li><a title="Gallery Image" class="lightbox" href="javascript:"><i class="fa fa-search-plus"></i><img src="http://img2.timeinc.net/people/i/2006/celebdatabase/denzelwashington/denzel_washington1_300_400.jpg" alt=""></a></li>
                                    </ul>
                                  </div>
                                <div data-toggle="buttons" class="btn-group btn-group-sm">
                                      <label class="btn btn-default">
                                      <input type="radio" checked="" name="options"><i class="fa fa-comments"></i> Reply
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name="options"> <i class="fa fa-thumbs-o-up"></i> Like
                                    </label>
                                  </div>
                                  <form class="post-reply ng-pristine ng-valid">
                                    <textarea placeholder="Write your comment"></textarea>
                                        <i class="fa fa-comments"></i>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </li>
                          
                          <li>
                            <div class="timeline">
                              <div class="user-timeline">
                                <span><img src="http://www.foreclosure-support.com/images/johnny-depp.jpg" alt=""></span>
                              </div>
                              <div class="timeline-detail">
                                <div class="timeline-head">
                                  <h3>Hussain Zaidi<span><i class="fa fa-clock-o"></i> 4 min ago</span><i class="green">User</i></h3>
                                  <div class="social-share">
                                    <a title=""><i class="ti-sharethis"></i></a>
                                    <ul class="social-btns">
                                      <li><a title="Facebook" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-facebook"></i></a></li>
                                      <li><a title="Google" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-google"></i></a></li>
                                      <li><a title="Twitter" data-toggle="tooltip" data-placement="left" href="#"><i class="ti-twitter"></i></a></li>
                                    </ul>
                                  </div>
                                </div>
                                <div class="timeline-content">
                                  <p>Set it as the font <a href="#" title="">John Doe</a> in your applition, and copy and paste the icons. Print this page to PDF for te completet of vectors. Or to use othe the Font Aweo Awesome</p>
                                  <div data-toggle="buttons" class="btn-group btn-group-sm">
                                      <label class="btn btn-default">
                                      <input type="radio" checked="" name="options"><i class="fa fa-comments"></i> Reply
                                    </label>
                                    <label class="btn btn-default">
                                      <input type="radio" name="options"> <i class="fa fa-thumbs-o-up"></i> Like
                                    </label>
                                  </div>
                                  <form class="post-reply ng-pristine ng-valid">
                                    <textarea placeholder="Write your comment"></textarea>
                                    <i class="fa fa-comments"></i>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </li>
      
                        </ul>
                      </div>
                            
                    </div>
                  </div>
                </div>
      </div>

  
  <script src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
<script src='https://cdn.jsdelivr.net/scrollreveal.js/3.3.1/scrollreveal.min.js'></script>


</body>
</html>
 -->
 <div id="all">
  
          <div id="content">
              <div class="container">
                  <div class="col-md-12">
                      <div class="background" [style.background-image]="getBackground(cover)" style=" background-size: cover;
                      background-repeat: no-repeat; max-height: 200px;">
                        </div>
                        <button data-toggle="modal" data-target="#actionGroup" class=" pull-right btn btn-default btn-sm btn-primary" style="margin: 4px;"><i class="fa fa-group"></i>{{member_button.title}}</button>
                        
                      <ul class="breadcrumb">
                          <li><a routerLink="">Home</a>
                          </li>
                          <li><a [routerLink]="['/groups']">Groups</a></li>
                          <li>{{info_group.name}}</li>
                      </ul>
                  </div>
  
                  <div class="col-md-3">
                      <!-- *** MENUS AND FILTERS ***
   _________________________________________________________ -->
                      <div class="panel panel-default sidebar-menu">
  
                          <div class="panel-heading">
                              <h3 class="panel-title">Groups</h3>
                          </div>
  
                          <div class="panel-body">
                              <ul class="nav nav-pills nav-stacked category-menu">
                                  <li class="active">
                                      <a>{{info_group.name}}<span class="badge pull-right"></span></a>
                                      <ul>
                                          <li><a>Total Members<span class="badge pull-right">{{member_total}}</span></a>
                                          </li>
                                          <li><a>Total Events<span class="badge pull-right">{{event_total}}</span></a>
                                          </li>
                                      </ul>
                                  </li>
                                  <li class="active">
                                      <a href="category.html">DESCRIPTION<span class="badge pull-right"></span></a>
                                      <ul>
                                          <li><a>{{info_group.description}}hihi</a>
                                          </li>
                                      </ul>
                                  </li>
                                  
                              </ul>
                          </div>
                      </div>
                      <div class="panel panel-default sidebar-menu" *ngIf="is_admin">
                        <div class="panel-heading">
                            <h3 class="panel-title">Admin</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">
                                <li class="active">
                                    <a href="category.html">{{info_group.name}}<span class="badge pull-right"></span></a>
                                    <ul>
                                        <li><a>Total member waiting<span class="badge pull-right">{{member_total}}</span></a>
                                        </li>
                                    </ul>
                                </li>
                                <li *ngIf="is_admin"><a [routerLink]="['/events/edit', info_group.id]">Manage Group</a></li>
                                <li>
                                    <a data-toggle="modal" data-target="#coverGroupChange">Change Cover Group<span class="badge pull-right"></span></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                  </div>
  
                  <div class="col-md-9">
                      <div class="box">
                          <h2>{{info_group.name}}</h2>
                          <p class="buttons"><a href="index.html" class="btn btn-primary"><i class="fa fa-plus"></i>Create new Group</a>
                          </p>
                      </div>
                      
  
                      <div id="blog-listing" *ngFor="let event of events">
                          <div class="post">
                              <h2><a  [routerLink]="['/groups']">{{event.name}}</a></h2>
                              <p class="author-category">By <a href="#">John Slim</a> in <a href="">Fashion and style</a>
                              </p>
                              <hr>
                              <p class="date-comments">
                                  <a><i class="fa fa-user"></i>Posted about {{event.time_ago}}</a>
                                  <a><i class="fa fa-calendar-o"></i>Posted about {{event.time_ago}}</a>
                                  <a><i class="fa fa-comment-o"></i> 8 Comments</a>
                              </p>
                              <div class="image">
                                  <div class="background" [style.background-image]="getBackground(cover)" style=" background-size: cover;
                      background-repeat: no-repeat; max-height: 250px;">
                        </div>
                              </div>
                              <p class="intro">{{event.infor}}</p>
                              <p class="read-more"><a   class="btn btn-primary">Continue reading</a>
                              </p>
                          </div>
                      </div>
                  </div>
                  <!-- /.col-md-9 -->
              </div>
              <!-- /.container -->
          </div></div>
          <div class="modal fade" id="coverGroupChange" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
              <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                  <h3 class="modal-title" id="lineModalLabel">Update Group Cover</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group files">
                        <label>Upload Your File </label>
                        <input type="file" class="choose-file" id="imageInput"
                        (change)="onChange($event)">
                      </div>
                </div>
                <div class="modal-footer">
                  <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                    <div class="btn-group" role="group">
                      <button type="button" class="btn btn-default" data-dismiss="modal"  role="button">Close</button>
                    </div>
                    <div class="btn-group btn-delete hidden" role="group">
                      <button type="button" id="delImage" class="btn btn-hover-primary" data-dismiss="modal"  role="button">Delete</button>
                    </div>
                    <div class="btn-group" role="group">
                      <button type="button" id="saveImage" class="btn btn-default btn-hover-green" data-action="save" role="button">Save</button>
                    </div>
                  </div>
                </div>
              </div>
              </div>
            </div>
            <div class="modal fade" id="actionGroup" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" >
                <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                    <!-- <h3 class="modal-title" id="lineModalLabel">Actions Group</h3> -->
                    <ul class="nav nav-pills nav-stacked category-menu">
                        <li class="active">
                            <a>{{info_group.name}}<span class="badge pull-right"></span></a>
                            <ul>
                              <br>
                                <button data-toggle="modal" data-target="#actionGroup" class=" pull-center btn btn-default btn-sm btn-primary" style="margin: 4px;" (click)="action()"><i class="fa fa-group"></i>{{member_button.action}}</button>
                            <br>
                              </ul>
                        </li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>