
.spacer20 {
    padding: 0.5em 0;
    }
.image {
    height: 200px;
} 

.card-head {
    height: 250px;
}

.btn-lg {
    width:190px;
  }

  .cover {
    padding: 15px;}

    body { background-color:#ddd; }
    /* .blog-row {margin-top:50px; } */
    /* .margin_bottom30 { margin-bottom:30px; } */
    .margin_left10 {margin-left:10px; }
    .blog-content {padding:10px; }
    .bg-white {background-color:#fff;}

.title-event {
    margin-top: -8px;
}


.small-box {
    border-radius: 2px;
    position: relative;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .small-box > .inner {
    padding: 10px;
  }
  .small-box > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0, 0, 0, 0.1);
    text-decoration: none;
  }
  .small-box > .small-box-footer:hover {
    color: #fff;
    background: rgba(0, 0, 0, 0.15);
  }
  .small-box h3 {
    font-size: 38px;
    font-weight: bold;
    margin: 0 0 10px 0;
    white-space: nowrap;
    padding: 0;
  }
  .small-box p {
    font-size: 15px;
  }
  .small-box p > small {
    display: block;
    color: #f9f9f9;
    font-size: 13px;
    margin-top: 5px;
  }
  .small-box h3,
  .small-box p {
    z-index: 5;
  }
  .small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }
  .small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
  }
  .small-box:hover .icon {
    font-size: 95px;
  }
  @media (max-width: 767px) {
    .small-box {
      text-align: center;
    }
    .small-box .icon {
      display: none;
    }
    .small-box p {
      font-size: 12px;
    }
  }

  .bg-aqua,
  .bg-blue,
  .bg-light-blue,
  .bg-green,
  .bg-navy,
  .bg-teal,
  .bg-olive,
  .bg-lime,
  .bg-orange,
  .bg-fuchsia,
  .bg-purple,
  .bg-maroon,
  .bg-black,
  .bg-red-active,
  .bg-yellow-active,
  .bg-aqua-active,
  .bg-blue-active,
  .bg-light-blue-active,
  .bg-green-active,
  .bg-navy-active,
  .bg-teal-active,
  .bg-olive-active,
  .bg-lime-active,
  .bg-orange-active,
  .bg-fuchsia-active,
  .bg-purple-active,
  .bg-maroon-active,
  .bg-black-active,
  .callout.callout-danger,
  .callout.callout-warning,
  .callout.callout-info,
  .callout.callout-success,
  .alert-success,
  .alert-danger,
  .alert-error,
  .alert-warning,
  .alert-info,
  .label-danger,
  .label-info,
  .label-warning,
  .label-primary,
  .label-success,
  .modal-primary .modal-body,
  .modal-primary .modal-header,
  .modal-primary .modal-footer,
  .modal-warning .modal-body,
  .modal-warning .modal-header,
  .modal-warning .modal-footer,
  .modal-info .modal-body,
  .modal-info .modal-header,
  .modal-info .modal-footer,
  .modal-success .modal-body,
  .modal-success .modal-header,
  .modal-success .modal-footer,
  .modal-danger .modal-body,
  .modal-danger .modal-header,
  .modal-danger .modal-footer {
    color: #fff !important;
  }
  .bg-gray {
    color: #000;
    background-color: #d2d6de !important;
  }
  .bg-gray-light {
    background-color: #f7f7f7;
  }
  .bg-black {
    background-color: #111111 !important;
  }
  .bg-red,
  .callout.callout-danger,
  .alert-danger,
  .alert-error,
  .label-danger,
  .modal-danger .modal-body {
    background-color: #dd4b39 !important;
  }
  .bg-yellow,
  .callout.callout-warning,
  .alert-warning,
  .label-warning,
  .modal-warning .modal-body {
    background-color: #f39c12 !important;
  }
  .bg-aqua,
  .callout.callout-info,
  .alert-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #00c0ef !important;
  }
  .bg-blue {
    background-color: #0073b7 !important;
  }
  .bg-light-blue,
  .label-primary,
  .modal-primary .modal-body {
    background-color: #3c8dbc !important;
  }
  .bg-green,
  .callout.callout-success,
  .alert-success,
  .label-success,
  .modal-success .modal-body {
    background-color: #00a65a !important;
  }
  .bg-navy {
    background-color: #001f3f !important;
  }
  .bg-teal {
    background-color: #39cccc !important;
  }
  .bg-olive {
    background-color: #3d9970 !important;
  }
  .bg-lime {
    background-color: #01ff70 !important;
  }
  .bg-orange {
    background-color: #ff851b !important;
  }
  .bg-fuchsia {
    background-color: #f012be !important;
  }
  .bg-purple {
    background-color: #605ca8 !important;
  }
  .bg-maroon {
    background-color: #d81b60 !important;
  }
  .bg-gray-active {
    color: #000;
    background-color: #b5bbc8 !important;
  }
  .bg-black-active {
    background-color: #000000 !important;
  }
  .bg-red-active,
  .modal-danger .modal-header,
  .modal-danger .modal-footer {
    background-color: #d33724 !important;
  }
  .bg-yellow-active,
  .modal-warning .modal-header,
  .modal-warning .modal-footer {
    background-color: #db8b0b !important;
  }
  .bg-aqua-active,
  .modal-info .modal-header,
  .modal-info .modal-footer {
    background-color: #00a7d0 !important;
  }
  .bg-blue-active {
    background-color: #005384 !important;
  }
  .bg-light-blue-active,
  .modal-primary .modal-header,
  .modal-primary .modal-footer {
    background-color: #357ca5 !important;
  }
  .bg-green-active,
  .modal-success .modal-header,
  .modal-success .modal-footer {
    background-color: #008d4c !important;
  }
  .bg-navy-active {
    background-color: #001a35 !important;
  }
  .bg-teal-active {
    background-color: #30bbbb !important;
  }
  .bg-olive-active {
    background-color: #368763 !important;
  }
  .bg-lime-active {
    background-color: #00e765 !important;
  }
  .bg-orange-active {
    background-color: #ff7701 !important;
  }
  .bg-fuchsia-active {
    background-color: #db0ead !important;
  }
  .bg-purple-active {
    background-color: #555299 !important;
  }
  .bg-maroon-active {
    background-color: #ca195a !important;
  }
  [class^="bg-"].disabled {
    opacity: 0.65;
    filter: alpha(opacity=65);
  }
  .text-red {
    color: #dd4b39 !important;
  }
  .text-yellow {
    color: #f39c12 !important;
  }
  .text-aqua {
    color: #00c0ef !important;
  }
  .text-blue {
    color: #0073b7 !important;
  }
  .text-black {
    color: #111111 !important;
  }
  .text-light-blue {
    color: #3c8dbc !important;
  }
  .text-green {
    color: #00a65a !important;
  }
  .text-gray {
    color: #d2d6de !important;
  }
  .text-navy {
    color: #001f3f !important;
  }
  .text-teal {
    color: #39cccc !important;
  }
  .text-olive {
    color: #3d9970 !important;
  }
  .text-lime {
    color: #01ff70 !important;
  }
  .text-orange {
    color: #ff851b !important;
  }
  .text-fuchsia {
    color: #f012be !important;
  }
  .text-purple {
    color: #605ca8 !important;
  }
  .text-maroon {
    color: #d81b60 !important;
  }
  .link-muted {
    color: #7a869d;
  }
  .link-muted:hover,
  .link-muted:focus {
    color: #606c84;
  }
  .link-black {
    color: #666;
  }
  .link-black:hover,
  .link-black:focus {
    color: #999;
  }
  .hide {
    display: none !important;
  }
  .no-border {
    border: 0 !important;
  }
  .no-padding {
    padding: 0 !important;
  }
  .no-margin {
    margin: 0 !important;
  }
  .no-shadow {
    box-shadow: none !important;
  }
  .list-unstyled,
  .chart-legend,
  .contacts-list,
  .users-list,
  .mailbox-attachments {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .list-group-unbordered > .list-group-item {
    border-left: 0;
    border-right: 0;
    border-radius: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .flat {
    border-radius: 0 !important;
  }
  .text-bold,
  .text-bold.table td,
  .text-bold.table th {
    font-weight: 700;
  }
  .text-sm {
    font-size: 12px;
  }
  .jqstooltip {
    padding: 5px !important;
    width: auto !important;
    height: auto !important;
  }
  .bg-teal-gradient {
    background: #39cccc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #39cccc), color-stop(1, #7adddd)) !important;
    background: -ms-linear-gradient(bottom, #39cccc, #7adddd) !important;
    background: -moz-linear-gradient(center bottom, #39cccc 0%, #7adddd 100%) !important;
    background: -o-linear-gradient(#7adddd, #39cccc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7adddd', endColorstr='#39cccc', GradientType=0) !important;
    color: #fff;
  }
  .bg-light-blue-gradient {
    background: #3c8dbc !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #3c8dbc), color-stop(1, #67a8ce)) !important;
    background: -ms-linear-gradient(bottom, #3c8dbc, #67a8ce) !important;
    background: -moz-linear-gradient(center bottom, #3c8dbc 0%, #67a8ce 100%) !important;
    background: -o-linear-gradient(#67a8ce, #3c8dbc) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67a8ce', endColorstr='#3c8dbc', GradientType=0) !important;
    color: #fff;
  }
  .bg-blue-gradient {
    background: #0073b7 !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #0073b7), color-stop(1, #0089db)) !important;
    background: -ms-linear-gradient(bottom, #0073b7, #0089db) !important;
    background: -moz-linear-gradient(center bottom, #0073b7 0%, #0089db 100%) !important;
    background: -o-linear-gradient(#0089db, #0073b7) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0089db', endColorstr='#0073b7', GradientType=0) !important;
    color: #fff;
  }
  .bg-aqua-gradient {
    background: #00c0ef !important;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #00c0ef), color-stop(1, #14d1ff)) !important;
    background: -ms-linear-gradient(bottom, #00c0ef, #14d1ff) !important;
    background: -moz-linear-gradient(center bottom, #00c0ef 0%, #14d1ff 100%) !important;
    background: -o-linear-gradient(#14d1ff, #00c0ef) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#14d1ff', endColorstr='#00c0ef', GradientType=0) !important;
    color: #fff;
  }

  .small-box .icon {
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    position: absolute;
    top: -10px;
    right: 10px;
    z-index: 0;
    font-size: 90px;
    color: rgba(0, 0, 0, 0.15);
  }
  .small-box:hover {
    text-decoration: none;
    color: #f9f9f9;
  }
  .small-box:hover .icon {
    font-size: 95px;
  }
  @media (max-width: 767px) {
    .small-box {
      text-align: center;
    }
    .small-box .icon {
      display: none;
    }
    .small-box p {
      font-size: 12px;
    }
  }
  .small-box > .inner {
    padding: 10px;
  }

  .alert .icon {
    margin-right: 10px;
  }

  .box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  }
  .box.box-primary {
    border-top-color: #3c8dbc;
  }
  .box.box-info {
    border-top-color: #00c0ef;
  }
  .box.box-danger {
    border-top-color: #dd4b39;
  }
  .box.box-warning {
    border-top-color: #f39c12;
  }
  .box.box-success {
    border-top-color: #00a65a;
  }
  .box.box-default {
    border-top-color: #d2d6de;
  }
  .box.collapsed-box .box-body,
  .box.collapsed-box .box-footer {
    display: none;
  }
  
  
  .box .box-group > .box {
    margin-bottom: 5px;
  }
  .box .knob-label {
    text-align: center;
    color: #333;
    font-weight: 100;
    font-size: 12px;
    margin-bottom: 0.3em;
  }
  .box > .overlay,
  .overlay-wrapper > .overlay,
  .box > .loading-img,
  .overlay-wrapper > .loading-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .box .overlay,
  .overlay-wrapper .overlay {
    z-index: 50;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
  }
  .box .overlay > .fa,
  .overlay-wrapper .overlay > .fa {
    position: absolute;
    top: 50%;
    left: 50%;

    color: #000;
    font-size: 30px;
  }
  .box .overlay.dark,
  .overlay-wrapper .overlay.dark {
    background: rgba(0, 0, 0, 0.5);
  }
  .box-header:before,
  .box-body:before,
  .box-footer:before,
  .box-header:after,
  .box-body:after,
  .box-footer:after {
    content: " ";
    display: table;
  }
  .box-header:after,
  .box-body:after,
  .box-footer:after {
    clear: both;
  }
  .box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
  }
  .box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
  }
  .collapsed-box .box-header.with-border {
    border-bottom: none;
  }
  .box-header > .fa,
  .box-header > .glyphicon,
  .box-header > .ion,
  .box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1;
  }
  .box-header > .fa,
  .box-header > .glyphicon,
  .box-header > .ion {
    margin-right: 5px;
  }
  .box-header > .box-tools {
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .box-header > .box-tools [data-toggle="tooltip"] {
    position: relative;
  }
  .box-header > .box-tools.pull-right .dropdown-menu {
    right: 0;
    left: auto;
  }
  .box-header > .box-tools .dropdown-menu > li > a {
    color: #444!important;
  }

  .box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
  }
  .no-header .box-body {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }
  .box-body > .table {
    margin-bottom: 0;
  }
  .box-body .fc {
    margin-top: 5px;
  }
  .box-body .full-width-chart {
    margin: -19px;
  }
  .box-body.no-padding .full-width-chart {
    margin: -9px;
  }
  .box-body .box-pane {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 3px;
  }
  .box-body .box-pane-right {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 0;
  }

  .inner
  {
      display: inline-block;
  }

  .member-waiting {
    margin-left: 20px;
  }
 
  header {
    background: rgb(0, 65, 114);
    color: #FFFFFF;
    padding: 100px 0;
  }
  header p {
    font-family: 'Allura';
    color: rgba(255, 255, 255, 0.2);
    margin-bottom: 0;
    font-size: 60px;
    margin-top: -30px;
  }
  
  







  body {
    background: none repeat scroll 0 0 #e6e9ee;
    margin: 0;
    overflow-x: hidden;
    padding: 0;
    }
    
    
    body .no-padding {
    padding: 0;
    }
    .widget {
    float: left;
    margin-top: 30px;
    padding: 25px 30px;
    width: 100%;
    }
    
    .timeline-sec {
    float: left;
    width: 100%;
    }
    .timeline-sec > ul {
    float: left;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    }
    
    .timeline-sec > ul:before {
    background: none repeat scroll 0 0 #fafafa;
    content: "";
    height: 100%;
    left: 22px;
    position: absolute;
    top: 0;
    width: 2px;
    }
    
    
    .timeline-sec > ul > li {
    float: left;
    margin-bottom: 30px;
    position: relative;
    width: 100%;
    }
    
    .timeline {
    float: left;
    padding-left: 70px;
    position: relative;
    width: 100%;
    }
    
    .user-timeline {
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
    }
    
    .user-timeline > span {
    float: left;
    position: relative;
    width: 100%;
    }
    
    .user-timeline > span > img {
    border: 3px solid #f5f5f5;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    height: 45px;
    overflow: hidden;
    width: 45px;
    }
    
    .timeline-detail {
    background: none repeat scroll 0 0 #f5f5f5;
    float: left;
    position: relative;
    width: 100%;
    }
    
    .timeline-detail:before {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fafafa;
    border-top: 8px solid transparent;
    content: "";
    left: -7px;
    position: absolute;
    top: 12px;
    }
    .timeline-head {
    background: none repeat scroll 0 0 #fafafa;
    float: left;
    width: 100%;
    }
    
    .timeline-head > h3 {
    color: #333333;
    float: left;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.3px;
    line-height: 22px;
    margin: 0;
    padding: 9px 0 9px 20px;
    }
    
    .timeline-head > h3 > span {
    color: #999999;
    font-size: 11px;
    letter-spacing: 0.3px;
    margin-left: 20px;
    margin-right: 12px;
    }
    .timeline-head > h3 > i {
    font-family: Lato;
    font-size: 11px;
    font-style: normal;
    letter-spacing: 0.3px;
    padding: 2px 6px;
    }
    .red, .support-ticket .removed, .edit-remove > li > .remove, .friend-list li > span.offline:before {
    background: -moz-linear-gradient(top, #ff5959 0%, #ff3b3b 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3b3b), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top, #ff5959 0%,#ff3b3b 100%);
    background: -o-linear-gradient(top, #ff5959 0%,#ff3b3b 100%);
    background: -ms-linear-gradient(top, #ff5959 0%,#ff3b3b 100%);
    background: linear-gradient(to bottom, #ff5959 0%,#ff3b3b 100%);
    color: #fff;
    }
    .social-share {
    float: right;
    padding: 8px;
    position: relative;
    }
    .social-share > a {
    background: none repeat scroll 0 0 #fff;
    color: #777777;
    cursor: pointer;
    float: right;
    height: 25px;
    line-height: 25px;
    text-align: center;
    width: 25px;
    position: relative;
    }
    .social-btns {
    float: right;
    list-style: outside none none;
    margin: -35px 0 0;
    padding: 0;
    }
    .social-share > .social-btns {
    margin: 0;
    opacity: 0;
    position: absolute;
    top: 100%;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    width: 25px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    }
    .social-share > .social-btns > li {
    float: left;
    margin: 0 0 2px;
    width: 100%;
    }
    .social-btns > li {
    float: right;
    list-style: outside none none;
    margin-left: 6px;
    }
    
    .social-btns > li > a {
    float: left;
    }
    .social-share > .social-btns > li > a > i {
    font-size: 13px;
    height: 25px;
    line-height: 25px;
    width: 25px;
    }
    .social-btns > li > a > i.ti-facebook {
    background: none repeat scroll 0 0 #3b5998;
    }
    .social-btns > li > a > i {
    color: #fff;
    float: left;
    font-size: 16px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 31px;
    }
    
    .timeline-content {
    float: left;
    padding: 15px 20px;
    width: 100%;
    }
    
    .post-reply > textarea {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    color: #888888;
    float: left;
    font-family: Roboto;
    font-size: 13px;
    height: 36px;
    letter-spacing: 0.3px;
    padding: 7px 45px 7px 19px;
    resize: vertical;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    }
    
    .progress.w-tooltip > .progress-bar {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    position: relative;
    }
    .purple, .menu ul li:hover > a, .support-ticket .new, .toggle-switch span:before, .actionBar > a.buttonFinish, .error-sec ul > li:before {
    background: -moz-linear-gradient(top, #8a7aff 0%, #715eff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#715eff), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top, #8a7aff 0%,#715eff 100%);
    background: -o-linear-gradient(top, #8a7aff 0%,#715eff 100%);
    background: -ms-linear-gradient(top, #8a7aff 0%,#715eff 100%);
    background: linear-gradient(to bottom, #8a7aff 0%,#715eff 100%);
    color: #fff;
    }
    .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    box-shadow: none;
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    }
    
    .timeline-gallery {
    float: left;
    margin-top: 15px;
    width: 100%;
    }
    .timeline-gallery > ul {
    float: left;
    list-style: none outside none;
    margin: -10px 0 0;
    padding: 0;
    width: 100%;
    }
    .timeline-gallery > ul > li {
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    }
    
    .timeline-gallery > ul > li > a {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    overflow: hidden;
    position: relative;
    width: 100%;
    }
    
    .timeline-gallery > ul > li > a:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 90%;
    left: 5%;
    opacity: 0;
    position: absolute;
    top: 5%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 90%;
    }
    
    .timeline-gallery > ul > li > a i {
    color: #fff;
    left: 0;
    margin-top: -5px;
    opacity: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    -ms-transform: scale(2);
    -o-transform: scale(2);
    transform: scale(2);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 9;
    }
    
    .timeline-gallery > ul > li > a > img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    float: left;
    width: 70px;
    height:70px;
    }
    .post-reply {
    background: none repeat scroll 0 0 #ffffff;
    float: left;
    margin-top: 11px;
    position: relative;
    width: 100%;
    }
    .timeline-content > .btn-group {
    float: left;
    margin-top: 15px;
    width: 100%;
    }
    .green, .support-ticket .done, .edit-remove > li > .edit, .toggle-switch *:checked + span:before, .friend-list li > span.online:before {
    background: -moz-linear-gradient(top, #0fce33 0%, #07bf29 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#07bf29), color-stop(100%,#f9f9f9));
    background: -webkit-linear-gradient(top, #0fce33 0%,#07bf29 100%);
    background: -o-linear-gradient(top, #0fce33 0%,#07bf29 100%);
    background: -ms-linear-gradient(top, #0fce33 0%,#07bf29 100%);
    background: linear-gradient(to bottom, #0fce33 0%,#07bf29 100%);
    color: #fff;
    }
    .timeline-content > .btn-group > label {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.3px;
    padding: 2px 8px;
    }
    .post-reply > i {
    color: #999999;
    font-size: 14px;
    margin-top: -7px;
    position: absolute;
    right: 13px;
    top: 50%;
    }
    
    .timeline-gallery > ul > li > a:hover:before {
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    }
    .timeline-gallery > ul > li > a:before {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.8);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    content: "";
    height: 90%;
    left: 5%;
    opacity: 0;
    position: absolute;
    top: 5%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    width: 90%;
    }


.title {
  color: #fff;
}

.group-content{
  padding: 30px
}


.bs-calltoaction{
  position: relative;
  width:auto;
  padding: 15px 25px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

  .bs-calltoaction > .row{
      display:table;
      width: calc(100% + 30px);
  }
   
      .bs-calltoaction > .row > [class^="col-"],
      .bs-calltoaction > .row > [class*=" col-"]{
          float:none;
          display:table-cell;
          vertical-align:middle;
      }

          .cta-contents{
              padding-top: 10px;
              padding-bottom: 10px;
          }

              .cta-title{
                  margin: 0 auto 15px;
                  padding: 0;
              }

              .cta-desc{
                  padding: 0;
              }

              .cta-desc p:last-child{
                  margin-bottom: 0;
              }

          .cta-button{
              padding-top: 10px;
              padding-bottom: 10px;
          }

@media (max-width: 991px){
  .bs-calltoaction > .row{
      display:block;
      width: auto;
  }

      .bs-calltoaction > .row > [class^="col-"],
      .bs-calltoaction > .row > [class*=" col-"]{
          float:none;
          display:block;
          vertical-align:middle;
          position: relative;
      }

      .cta-contents{
          text-align: center;
      }
}



.bs-calltoaction.bs-calltoaction-default{
  color: #0b2942;
  background-color: #fff;
  border-color: #ccc;
}

.bs-calltoaction.bs-calltoaction-primary{
  color: #286090;
  /*color: #fff;*/
  background-color: rgba(51, 122, 183, 0.25);
  /*background-color: #337ab7;*/
  border-color: #2e6da4;
}

.bs-calltoaction.bs-calltoaction-info{
  color: #31b0d5;
  /*color: #fff;*/
  background-color: rgba(91, 192, 222, 0.25);
  /*background-color: #5bc0de;*/
  border-color: #46b8da;
}

.bs-calltoaction.bs-calltoaction-success{
  /*color: #fff;*/
  color: #449d44;
  /*background-color: #5cb85c;*/
  background-color: rgba(92, 184, 92, 0.25);
  border-color: #4cae4c;
}

.bs-calltoaction.bs-calltoaction-warning{
  /*color: #fff;*/
  color: #d58512;
  /*background-color: #f0ad4e;*/
  background-color: rgba(240, 173, 78, 0.25);
  border-color: #eea236;
}

.bs-calltoaction.bs-calltoaction-danger{
  color: #c9302c;
  /*color: #fff;*/
  background-color: rgba(217, 83, 79, 0.25);
  /*background-color: #d9534f;*/
  border-color: #d43f3a;
}
    
    
    
    