<div class="main-content">
  <div class="card card-group">
    <div class="image"> <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..." /> </div>
    <div class="content">
      <div class="author">
        <div class="col-md-4 col-md-offset-10">
          <a class="dropdown">
            <h5 class="title dropdown-toggle" data-toggle="dropdown">{{member_button.title}}<b class="caret"></b><br /></h5>
            <ul class="dropdown-menu">
              <br>
              <li><a (click)="action()">{{member_button.action}}</a>
              </li>
            </ul>
          </a>
        </div>
      </div>
      <div class="description text-center">
        <div class="text-center">
          <!-- <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i> </button>
							<button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i> </button>
							<button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i> </button> -->
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid"> </div>
  <div class="spacer20">
    <div class="col-md-9 text-left">
      <h1>hihi</h1> </div>
    <div class="col-md-3 text-left">
      <h2 class="display-3">{{info_group.name}}</h2>
      <p>This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
      <h2>Quick Links</h2>
      <div class="btn-group btn-group-vertical btn-block"> <a href="#" class="btn btn-default">Apple</a> <a href="#" class="btn btn-default">Samsung</a> <a href="#" class="btn btn-default">Sony</a> <a href="#" class="btn btn-default">Apple</a> <a href="#" class="btn btn-default">Samsung</a> <a href="#" class="btn btn-default">Sony</a> </div>
      <hr>
      <ul>
        <li><a href="#"><span> </span>tortor sit amet molestie fringilla</a>
        </li>
        <li><a href="#"><span> </span>packages and web page editors</a>
        </li>
        <li><a href="#"><span> </span>desktop publishing packages</a>
        </li>
        <li><a href="#"><span> </span>web page editors now use</a>
        </li>
        <li><a href="#"><span> </span>opposed to using Many desktop</a>
        </li>
        <li><a href="#"><span> </span>Many desktop publishing</a>
        </li>
        <li><a href="#"><span> </span>packages and web page editors</a>
        </li>
        <li><a href="#"><span> </span>desktop publishing packages</a>
        </li>
        <li><a href="#"><span> </span>web page editors now use</a>
        </li>
      </ul>
      <div class="well-sm"> <img src="http://placehold.it/350X350" class="img-responsive"> </div>
    </div>
  </div>
</div>