.jumbotron {
    background-image: url(https://scontent-hkg3-1.xx.fbcdn.net/v/t1.0-9/21686322_1865438973470413_5510200999053195007_n.jpg?oh=e227368d15db19a392e57ce0fff23a46&oe=5A82E9F2);
    padding-top:50px;
    height: 200px;
}
.spacer20 {
    padding: 0.5em 0;
    }