

.info-box {
    display: block;
    min-height: 90px;
    background: #fff;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    margin-bottom: 15px;
  }
  .info-box small {
    font-size: 14px;
  }
  .info-box .progress {
    background: rgba(0, 0, 0, 0.2);
    margin: 5px -10px 5px -10px;
    height: 2px;
  }
  .info-box .progress,
  .info-box .progress .progress-bar {
    border-radius: 0;
  }
  .info-box .progress .progress-bar {
    background: #fff;
  }
  .info-box-icon {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 30px;
    line-height: 90px;
    background: rgba(0, 0, 0, 0.2);
  }
  .info-box-icon > img {
    max-width: 100%;
  }
  .info-box-content {
    padding: 5px 10px;
    margin-left: 90px;
  }
  .info-box-number {
    display: block;
    font-weight: bold;
    font-size: 18px;
  }
  .progress-description,
  .info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .info-box-text {
    text-transform: uppercase;
  }
  .info-box-more {
    display: block;
  }
  .progress-description {
    margin: 0;
  }

  .bg-red,
  .bg-yellow,
  .bg-aqua {
    color: #fff !important;
  }
  .bg-aqua,
  .callout.callout-info,
  .alert-info,
  .label-info,
  .modal-info .modal-body {
    background-color: #00c0ef !important;
  }
  
  .bg-aqua-active,
  .modal-info .modal-header,
  .modal-info .modal-footer {
    background-color: #00a7d0 !important;
  }

  




.fh5co-cards {
  background: whitesmoke;
}
@media screen and (max-width: 768px) {
  .fh5co-cards {
    padding: 3em 0;
  }
}
.fh5co-cards .fh5co-card {
  display: block;
  background: #ffffff;
  position: relative;
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -ms-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  -o-box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  box-shadow: 0 0.125em 0.125em 0 rgba(0, 0, 0, 0.125);
  margin-bottom: 30px;
  border-bottom: none;
  bottom: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.fh5co-cards .fh5co-card img {
  z-index: -1;
}
.fh5co-cards .fh5co-card .fh5co-card-body {
  padding: 10px 30px;
  padding-bottom: 20px;
}
.fh5co-cards .fh5co-card .fh5co-card-body h3 {
  font-size: 20px;
  color: #8b969c;
  margin-bottom: 10px;
}
.fh5co-cards .fh5co-card .fh5co-card-body p {
  color: #8b969c;
}
.fh5co-cards .fh5co-card .fh5co-card-body p:last-child {
  margin-bottom: 0;
}
.fh5co-cards .fh5co-card:hover {
  text-decoration: none;
  border-bottom: none;
  bottom: 10px;
  background:#607D8B;
  color:#fff;
}

.fh5co-cards .fh5co-card .fh5co-card-body:hover p {
  color:#fff;
}

.fh5co-cards .fh5co-card .fh5co-card-body:hover h3 {
  color:#fff;
}

.fh5co-cards .fh5co-card:hover h3 {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #57cecd;
}