<!-- ********* <3 ********* TWO ********* <3 ********* -->
<!-- <div class="container">
  <div class="col-md-10 col-md-offset-1">
  <ul class="two">
  <li class="transition list center" *ngFor="let group of list_groups">
    <div class="wrapper"> <img class="transition" src="http://dooreight.com/codepen/people/img_01.png">
      <ul class="social">
        <li>Young artist from Barcelona. She hates Comic Sans. <br>
          Find her on:</li>
        <li class="transition"><a href="https://www.facebook.com"><img src="http://dooreight.com/codepen/people/twitter.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/behance.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/facebook.svg"></a></li>
        <li class="transition"><a href="#"><img src="http://dooreight.com/codepen/people/skype.svg"></a></li>
      </ul>
      <span class="transition"  [routerLink]="['/groups/', group.id]">
      <h3>{{group.name}} <em>CEO & Founder</em></h3>
      <i>more</i> </span> </div>
  </li>
</ul>
</div>
</div> -->
<!-- ********* <3 ********* THREE ********* <3 ********* -->
<div class="main-content">
  <div class="col-md-4 col-sm-6" *ngFor="let group of list_groups">
    <div class="card-container manual-flip">
      <div class="card">
        <div class="front">
          <div class="cover"> <img src="https://scontent.fhan4-1.fna.fbcdn.net/v/t1.0-9/22045737_1954804801398014_6756773244318478973_n.jpg?oh=b1485690e17358cedbce36abbd23ab81&oe=5A3F645B" /> </div>
          <div class="content">
            <div class="main">
              <h3 class="name">{{group.name}}</h3>
              <p class="profession">Web Developer</p>
              <p class="text-center">"Lamborghini Mercy
                <br>Your chick she so thirsty</p>
            </div>
            <div class="footer" [routerLink]="['/groups/', group.id]">
              <button class="btn btn-simple" onclick="rotateCard(this)"> <i class="fa fa-mail-forward"></i> Open group </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
