<div id="all">
    
            <div id="content">
                <div class="container">
                    <div class="col-md-3">
                        <div class="panel panel-default sidebar-menu">
                            <div class="panel-heading">
                                <h3 class="panel-title">Events</h3>
                            </div>
                            <div class="panel-body">
                                <ul class="nav nav-pills nav-stacked category-menu">
                                    <li class="active">
                                        <a>Events comming<span class="badge pull-right">{{events_comming.lenght}}</span></a>
                                        <ul>
                                            <li *ngFor="let event of events_comming"><a [routerLink]="['/events',event.id]">{{event.name}}<span class="badge pull-right"></span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="active">
                                        <a>All Events<span class="badge pull-right">{{events.lenght}}</span></a>
                                        <ul>
                                            <li *ngFor="let event of events"><a [routerLink]="['/events',event.id]">{{event.name}}<span class="badge pull-right"></span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-9">
                        <div id="blog-listing" *ngFor="let event of events">
                            <div class="post">
                                <h2><a  [routerLink]="['/events', event.id]">{{event.name}}</a></h2>
                                <p class="author-category">By <a href="#">John Slim</a> in 
                                <hr>
                                <p class="date-comments">
                                    <a><i class="fa fa-user"></i>Posted about {{event.time_ago}}</a>
                                    <a><i class="fa fa-calendar-o"></i>Posted about {{event.time_ago}}</a>
                                    <a><i class="fa fa-comment-o"></i> 8 Comments</a>
                                </p>
                                <div class="image">
                                    <div class="background" [style.background-image]="getBackground(link_cloudianry + event.photo)" style=" background-size: cover;
                        background-repeat: no-repeat; max-height: 250px;">
                          </div>
                                </div>
                                <p class="intro"[innerHTML]="event.infor"></p>
                                <p class="read-more"><a   class="btn btn-primary" [routerLink]="['/events', event.id]">Continue reading</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- /.col-md-9 -->
                </div>
                <!-- /.container -->
            </div></div>
            